# NYC Taxi data in Winter and Summer

Refer to the [Data dictionary](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf) to learn more about the columns that have been provided.

In [1]:
import pandas as pd

path = '../../data/taxi.csv'

#Load the csv file into a dataframe
df = pd.read_csv(path)

#Print the dataframe
print(df)

     VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2.0  2019-07-15 16:27:53   2019-07-15 16:44:21              3.0
1         2.0  2019-07-17 20:26:35   2019-07-17 20:40:09              6.0
2         2.0  2019-07-06 16:01:08   2019-07-06 16:10:25              1.0
3         1.0  2019-07-18 22:32:23   2019-07-18 22:35:08              1.0
4         2.0  2019-07-19 14:54:29   2019-07-19 15:19:08              1.0
..        ...                  ...                   ...              ...
195       2.0  2019-01-18 08:42:15   2019-01-18 08:56:57              1.0
196       1.0  2019-01-19 04:34:45   2019-01-19 04:43:44              1.0
197       2.0  2019-01-05 10:37:39   2019-01-05 10:42:03              1.0
198       2.0  2019-01-23 10:36:29   2019-01-23 10:44:34              2.0
199       2.0  2019-01-30 06:55:58   2019-01-30 07:07:02              5.0

     trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0             2.02         1.0                  N           186           233
1             1.59         1.0                  N           141           161
2             1.69         1.0                  N           246           249
3             0.90         1.0                  N           229           141
4             4.79         1.0                  N           237           107
..             ...         ...                ...           ...           ...
195           1.18         1.0                  N            43           237
196           2.30         1.0                  N           148           234
197           0.83         1.0                  N           237           263
198           1.12         1.0                  N           144           113
199           2.41         1.0                  N           209           107

     payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1.0         12.0    1.0      0.5        4.08           0.0
1             2.0         10.0    0.5      0.5        0.00           0.0
2             2.0          8.5    0.0      0.5        0.00           0.0
3             1.0          4.5    3.0      0.5        1.65           0.0
4             1.0         19.5    0.0      0.5        5.70           0.0
..            ...          ...    ...      ...         ...           ...
195           1.0         10.0    0.0      0.5        2.16           0.0
196           1.0          9.5    0.5      0.5        2.15           0.0
197           1.0          5.0    0.0      0.5        1.16           0.0
198           2.0          7.0    0.0      0.5        0.00           0.0
199           1.0         10.5    0.0      0.5        1.00           0.0

     improvement_surcharge  total_amount  congestion_surcharge
0                      0.3         20.38                   2.5
1                      0.3         13.80                   2.5
2                      0.3         11.80                   2.5
3                      0.3          9.95                   2.5
4                      0.3         28.50                   2.5
..                     ...           ...                   ...
195                    0.3         12.96                   0.0
196                    0.3         12.95                   0.0
197                    0.3          6.96                   0.0
198                    0.3          7.80                   0.0
199                    0.3         12.30                   0.0

[200 rows x 18 columns]

# Use the cells below to do your own Exploratory Data Analysis

In [2]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,200.000000,200.000000,200.00000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000,200.000000
mean,1.605000,1.560000,3.72935,1.055000,162.26000,169.080000,1.285000,15.402500,0.790000,0.497500,2.013900,0.465700,3.000000e-01,20.154350,1.125000
std,0.519929,1.222239,4.71901,0.335466,64.62985,67.869618,0.452547,15.172931,1.048282,0.035355,2.292065,1.672997,1.057359e-15,17.072769,1.246855
min,1.000000,0.000000,0.16000,1.000000,4.00000,13.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,3.000000e-01,4.300000,0.000000
25%,1.000000,1.000000,1.12750,1.000000,132.00000,131.250000,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,3.000000e-01,10.215000,0.000000
50%,2.000000,1.000000,1.88000,1.000000,161.00000,164.000000,1.000000,9.500000,0.500000,0.500000,1.650000,0.000000,3.000000e-01,14.120000,0.000000
75%,2.000000,2.000000,3.82000,1.000000,230.25000,236.000000,2.000000,17.000000,1.000000,0.500000,2.712500,0.000000,3.000000e-01,22.552500,2.500000
max,4.000000,6.000000,22.00000,5.000000,264.00000,265.000000,2.000000,120.000000,4.500000,0.500000,14.640000,10.700000,3.000000e-01,125.300000,2.500000

In [5]:
df.sample(15)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
126,1.0,2019-01-11 11:47:27,2019-01-11 11:57:27,1.0,1.60,1.0,N,236,142,2.0,9.0,0.0,0.5,0.00,0.00,0.3,9.80,0.0
57,2.0,2019-07-10 22:21:49,2019-07-10 22:31:42,3.0,1.69,1.0,N,249,107,1.0,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5
83,2.0,2019-07-17 03:47:47,2019-07-17 04:01:44,1.0,4.79,1.0,N,233,256,2.0,16.5,0.5,0.5,0.00,0.00,0.3,20.30,2.5
4,2.0,2019-07-19 14:54:29,2019-07-19 15:19:08,1.0,4.79,1.0,N,237,107,1.0,19.5,0.0,0.5,5.70,0.00,0.3,28.50,2.5
123,1.0,2019-01-28 17:29:47,2019-01-28 17:34:15,1.0,0.60,1.0,N,113,113,1.0,5.0,1.0,0.5,1.35,0.00,0.3,8.15,0.0
44,2.0,2019-07-31 05:24:58,2019-07-31 05:58:50,5.0,15.95,1.0,N,132,165,2.0,46.0,0.5,0.5,0.00,0.00,0.3,47.30,0.0
185,1.0,2019-01-06 21:54:46,2019-01-06 22:10:35,1.0,3.50,1.0,N,79,48,1.0,14.0,0.5,0.5,3.80,0.00,0.3,19.10,0.0
161,1.0,2019-01-18 11:46:24,2019-01-18 12:10:10,1.0,10.80,1.0,N,170,138,1.0,31.5,0.0,0.5,9.50,5.76,0.3,47.56,0.0
43,2.0,2019-07-17 11:14:50,2019-07-17 11:41:12,1.0,5.00,1.0,N,87,234,1.0,20.0,0.0,0.5,4.66,0.00,0.3,29.91,2.5
33,1.0,2019-07-16 05:10:24,2019-07-16 05:15:49,1.0,1.60,1.0,N,100,162,1.0,7.0,3.0,0.5,1.00,0.00,0.3,11.80,2.5
70,2.0,2019-07-11 00:22:52,2019-07-11 00:29:46,5.0,1.35,1.0,N,261,211,1.0,7.0,0.5,0.5,1.50,0.00,0.3,12.30,2.5
63,1.0,2019-07-30 10:29:39,2019-07-30 10:34:34,1.0,0.70,1.0,N,170,162,1.0,5.0,2.5,0.5,1.66,0.00,0.3,9.96,2.5
118,1.0,2019-01-12 22:49:56,2019-01-12 22:52:30,1.0,0.40,1.0,N,141,237,2.0,4.0,0.5,0.5,0.00,0.00,0.3,5.30,0.0
85,2.0,2019-07-26 09:45:01,2019-07-26 09:57:29,6.0,0.94,1.0,N,68,48,2.0,9.0,0.0,0.5,0.00,0.00,0.3,12.30,2.5
71,1.0,2019-07-27 02:58:56,2019-07-27 03:09:36,1.0,1.50,1.0,N,246,164,1.0,8.5,3.0,0.5,2.00,0.00,0.3,14.30,2.5

In [8]:
df.query('payment_type == 2.0 & trip_distance > 10')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
44,2.0,2019-07-31 05:24:58,2019-07-31 05:58:50,5.0,15.95,1.0,N,132,165,2.0,46.0,0.5,0.5,0.0,0.00,0.3,47.30,0.0
51,2.0,2019-07-09 00:08:19,2019-07-09 00:28:57,1.0,10.27,1.0,N,132,225,2.0,29.5,0.5,0.5,0.0,0.00,0.3,30.80,0.0
73,1.0,2019-07-10 11:13:47,2019-07-10 12:21:57,2.0,21.30,1.0,N,231,27,2.0,68.0,2.5,0.5,0.0,10.70,0.3,82.00,2.5
125,1.0,2019-01-02 17:14:50,2019-01-02 17:48:18,2.0,16.60,2.0,N,132,262,2.0,52.0,4.5,0.5,0.0,5.76,0.3,63.06,0.0
133,1.0,2019-01-10 11:11:20,2019-01-10 11:59:34,2.0,16.40,2.0,N,164,132,2.0,52.0,0.0,0.5,0.0,5.76,0.3,58.56,0.0
155,2.0,2019-01-03 13:52:13,2019-01-03 14:17:30,1.0,15.23,2.0,N,10,41,2.0,52.0,0.0,0.5,0.0,5.76,0.3,58.56,0.0
186,1.0,2019-01-28 18:16:16,2019-01-28 18:46:46,1.0,10.80,1.0,N,138,113,2.0,34.5,1.0,0.5,0.0,0.00,0.3,36.30,0.0